In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('nutrients_csvfile.csv')
data.head()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
0,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products
1,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products
2,Buttermilk,1 cup,246,127,9,5,4,0,13,Dairy products
3,"Evaporated, undiluted",1 cup,252,345,16,20,18,0,24,Dairy products
4,Fortified milk,6 cups,"1,419","1,373",89,42,23,1.4,119,Dairy products

In [6]:
data.shape

(332, 10)

In [8]:
data = data.dropna()

In [13]:
data['Fat'].unique()

array(['40', 't', '5', '20', '42', '28', '10', '24', '11', '4', '14',
       '18', '15', '44', '6', '19', '9', '8', '12', '16', '115', '100',
       '110', '91', '17', '36', '27', '35', '23', '21', '22', '13', '1',
       '2', '233', '7', '0', "t'", '25', '3', '38', '47', '32', '26'],
      dtype=object)

In [15]:
#menghapus nilai t 
data = data[data['Fat'] != 't']

In [16]:
data['Fat'].unique()

array(['40', '5', '20', '42', '28', '10', '24', '11', '4', '14', '18',
       '15', '44', '6', '19', '9', '8', '12', '16', '115', '100', '110',
       '91', '17', '36', '27', '35', '23', '21', '22', '13', '1', '2',
       '233', '7', '0', "t'", '25', '3', '38', '47', '32', '26'],
      dtype=object)

In [18]:
# Remove the row(s) with the value "t'" in the 'Fat' column
data = data[data['Fat'] != "t'"]

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 217 entries, 0 to 333
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Food      217 non-null    object
 1   Measure   217 non-null    object
 2   Grams     217 non-null    object
 3   Calories  217 non-null    object
 4   Protein   217 non-null    object
 5   Fat       217 non-null    object
 6   Sat.Fat   217 non-null    object
 7   Fiber     217 non-null    object
 8   Carbs     217 non-null    object
 9   Category  217 non-null    object
dtypes: object(10)
memory usage: 18.6+ KB

In [23]:
unique_values = {
    'Food': data['Food'].unique(),
    'Grams': data['Grams'].unique(),
    'Calories': data['Calories'].unique(),
    'Protein': data['Protein'].unique(),
    'Category': data['Category'].unique()
}

for column, values in unique_values.items():
    print(f"Unique values for {column}:")
    print(values)

Unique values for Food:
["Cows' milk" 'Buttermilk' 'Evaporated, undiluted' 'Fortified milk'
 'Powdered milk' "Goats' milk" '(1/2 cup ice cream)' 'Cocoa' 'skim. milk'
 '(cornstarch)' 'Custard' 'Ice cream' 'Ice milk' 'Cream or half-and-half'
 'or whipping' 'Cheese' 'Cheddar' 'Cheddar, grated cup' 'Cream cheese'
 'Processed cheese' 'Roquefort type' 'Swiss' 'Eggs raw'
 'Eggs Scrambled or fried' 'Yolks' 'Butter' 'Hydrogenated cooking fat'
 'Lard' 'Margarine' 'Margarine, 2 pat or' 'Mayonnaise' 'Corn oil'
 'Olive oil' 'Safflower seed oil' 'French dressing'
 'Thousand Island sauce' 'Bacon' 'Beef' 'Hamburger' 'Ground lean'
 'Roast beef' 'Steak' 'Steak, lean, as round' 'Corned beef'
 'Corned beef hash canned' 'Corned beef hash Dried' 'Pot-pie'
 'Corned beef hash Stew' 'chicken'
 'Fried, breast or leg and thigh chicken' 'Roasted chicken'
 'Chicken livers, fried' 'Duck, domestic' 'Lamb, chop, broiled'
 'Leg roasted' 'Shoulder, braised' 'Pork, chop, 1 thick' 'Ham pan-broiled'
 'Ham, as ' 'Ham, canned, spiced' 'Pork roast' 'Pork sausage' 'Turkey'
 'Veal' 'Roast' 'Clams' 'Cod' 'Crab meat' 'Fish sticks fried' 'Flounder'
 'Haddock' 'Halibut' 'Herring' 'Lobster' 'Mackerel' 'Oysters'
 'Oyster stew' 'Salmon' 'Sardines' 'Scallops' 'Shad' 'Shrimp' 'Swordfish'
 'Tuna' 'Navy, baked with pork' 'Red kidney' 'Corn' 'Cucumbers'
 'Dandelion greens' 'Kale' 'Parsnips' 'Peppers with beef and crumbs'
 'French-fried' 'Potatoes Mashed with milk and butter'
 'Potatoes, pan-tried' 'Scalloped with cheese potatoes' 'Potato chips'
 'Radishes' 'Rutabagas' 'Soybeans' 'Sweet potatoes' 'Candied'
 'Turnip greens' 'Apple juice canned' 'Apple vinegar' 'Avocado'
 'Blackberries' 'Cherries' 'Olives large' 'OlivesRipe' 'Raw, 3 by 2V'
 'Prunes' 'Watermelon' 'Biscuits' 'Bread, cracked wheat' 'Rye'
 'White, 20 slices, or' 'Whole-wheat' 'Corn bread ground meal' 'Corn meal'
 'Crackers' 'Soda, 2 1/2 square' 'Flour' 'Wheat (all purpose)'
 'Wheat (whole)' 'Macaroni' 'Baked with cheese' 'Muffins' 'Noodles'
 'Oatmeal' 'Pancakes 4" diam.' 'Wheat, pancakes 4" diam.'
 'Pizza 14" diam.' 'Popcorn salted' 'Rice' 'Rice polish' 'Rolls'
 'of refined flour' 'whole-wheat' 'Spaghetti with meat sauce'
 'with tomatoes and cheese' 'Spanish rice' 'Shredded wheat biscuit'
 'Waffles' 'Wheat germ' 'Wheat-germ cereal toasted'
 'Wheat meal cereal unrefined' 'Wheat, cooked' 'Bean soups' 'Beef soup'
 'Bouillon' 'chicken soup' 'Clam chowder' 'Cream soups' 'Noodle'
 'Split-pea soup' 'Tomato soup' 'Vegetable' 'Apple betty' 'Bread pudding'
 'Chocolate fudge' 'Cupcake' 'Fruit cake' 'Gingerbread'
 'Plain, with no icing' 'Sponge cake' 'Candy' 'Chocolate creams' 'Fudge'
 'Hard candies' 'Marshmallows' 'Milk chocolate' 'Doughnuts' 'Honey' 'Ices'
 'preserves' 'Jellies' 'Molasses' 'Cane Syrup' '9" diam. pie' 'Cherry Pie'
 'Lemon meringue' 'Mince' 'Pumpkin Pie' 'Puddings Sugar'
 '3 teaspoons sugar' 'Syrup' 'table blends sugar' 'Tapioca cream pudding'
 'Almonds' 'roasted and salted' 'Brazil nuts' 'Cashews'
 'coconut sweetened' 'Peanut butter' 'Peanut butter, natural' 'Peanuts'
 'Pecans' 'Sesame seeds' 'Sunflower seeds' 'Walnuts' 'Beer' 'Gin' 'Wines'
 'Table (12.2% alcohol)' 'Carbonated drinks Artificially sweetened'
 'Club soda' 'Cola drinks' 'Fruit-flavored soda' 'Ginger ale' 'Root beer'
 'Coffee']
Unique values for Grams:
['976' '246' '252' '1,419' '103' '244' '540' '250' '248' '188' '190' '120'
 '119' '225' '17' '56' '28' '100' '128' '34' '14' '112' '110' '15' '16'
 '85' '227' '235' '115' '86' '57' '230' '200' '260' '50' '180' '155' '150'
 '60' '20' '175' '145' '108' '144' '257' '65' '182' '270' '925' '38' '23'
 '454' '118' '11' '140' '220' '48' '160' '236' '75' '208' '40' '68' '30'
 '240' '255' '245' '55' '25' '90' '33' '42' '300' '135' '130' '12' '70'
 '52' '480' '346']
Unique values for Calories:
['660' '127' '345' '1,373' '515' '165' '690' '235' '128' '275' '285' '300'
 '170' '430' '240' '70' '226' '105' '150' '220' '120' '100' '113' '665'
 '992' '806' '110' '125' '60' '75' '95' '245' '185' '390' '330' '115'
 '480' '290' '140' '370' '314' '260' '310' '475' '265' '305' '87' '90'
 '200' '135' '182' '211' '92' '155' '231' '180' '104' '250' '230' '6' '80'
 '45' '255' '268' '145' '10' '32' '14' '85' '72' '130' '55' '1,225'
 '1,100' '360' '460' '400' '152' '748' '132' '411' '102' '210' '217' '103'
 '190' '24' '147' '175' '374' '420' '160' '98' '117' '50' '340' '770'
 '335' '425' '439' '457' '392' '274' '284' '343' '280' '325' '228' '164'
 '0' '137' '161' '3']
Unique values for Protein:
['32' '9' '16' '89' '27' '8' '24' '18' '13' '6' '4' '2' '30' '14' '7' '12'
 't' '114' '0' '23' '21' '20' '22' '19' '15' '25' '28' '26' '232' '17'
 '11' '3' '5' '-1' '1' '39' '48' '10']
Unique values for Category:
['Dairy products' 'Fats, Oils, Shortenings' 'Meat, Poultry'
 'Fish, Seafood' 'Vegetables A-E' 'Vegetables F-P' 'Vegetables R-Z'
 'Fruits A-F' 'Fruits G-P' 'Fruits R-Z' 'Breads, cereals, fastfood,grains'
 'Soups' 'Desserts, sweets' 'Jams, Jellies' 'Seeds and Nuts'
 'Drinks,Alcohol, Beverages']

In [21]:
columns_to_drop = ['Fiber', 'Fat', 'Sat.Fat', 'Carbs', 'Measure']
data.drop(columns=columns_to_drop, inplace=True)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 217 entries, 0 to 333
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Food      217 non-null    object
 1   Grams     217 non-null    object
 2   Calories  217 non-null    object
 3   Protein   217 non-null    object
 4   Category  217 non-null    object
dtypes: object(5)
memory usage: 10.2+ KB

In [28]:
data.insert(0, 'ID', range(len(data)))

ValueError: cannot insert ID, already exists

In [29]:
data.head()

   ID                   Food  Grams Calories Protein        Category
0   0             Cows' milk    976      660      32  Dairy products
2   1             Buttermilk    246      127       9  Dairy products
3   2  Evaporated, undiluted    252      345      16  Dairy products
4   3         Fortified milk  1,419    1,373      89  Dairy products
5   4          Powdered milk    103      515      27  Dairy products

In [30]:
# Menyimpan DataFrame ke dalam file CSV
data.to_csv('Food.csv', index=False)

## Cleaning BMI

In [32]:
data_bmi = pd.read_csv('bmi.csv')
data_bmi.head()

   Age  Height  Weight        Bmi       BmiClass
0   61    1.85  109.30  31.935720  Obese Class 1
1   60    1.71   79.02  27.023700     Overweight
2   60    1.55   74.70  31.092612  Obese Class 1
3   60    1.46   35.90  16.841809    Underweight
4   60    1.58   97.10  38.896010  Obese Class 2

In [34]:
data_bmi['Age'].unique()

array([61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45,
       44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28,
       27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15], dtype=int64)

In [36]:
data_bmi.drop(columns=['BmiClass'])

     Age  Height  Weight        Bmi
0     61    1.85  109.30  31.935720
1     60    1.71   79.02  27.023700
2     60    1.55   74.70  31.092612
3     60    1.46   35.90  16.841809
4     60    1.58   97.10  38.896010
..   ...     ...     ...        ...
736   34    1.86   95.70  27.662157
737   44    1.91  106.90  29.302925
738   25    1.82   88.40  26.687598
739   35    1.88   98.50  27.868945
740   45    1.93  109.90  29.504148

[741 rows x 4 columns]