In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('bmi_data.csv')

In [3]:
data.head()

      Sex  Age  Height(Inches)  Weight(Pounds)        BMI
0  Female   21        65.78331        112.9925  18.357646
1  Female   35        71.51521        136.4873  18.762652
2  Female   27        69.39874        153.0269  22.338985
3    Male   24        68.21660        142.3354  21.504612
4  Female   18        67.78781        144.2971  22.077669

In [4]:
data.isnull().sum()

Sex                0
Age                0
Height(Inches)    19
Weight(Pounds)    16
BMI               50
dtype: int64

In [5]:
data = data[(data != 0).all(axis=1)]

In [9]:
condition = (data[['Height(Inches)','Weight(Pounds)']] == 0).any(axis=1)

# Menghapus baris yang memenuhi kondisi
data = data.drop(data[condition].index)
print("\nDataFrame setelah penghapusan:")
print(data)

DataFrame setelah penghapusan:
          Sex  Age  Height(Inches)  Weight(Pounds)        BMI
0      Female   21        65.78331        112.9925  18.357646
1      Female   35        71.51521        136.4873  18.762652
2      Female   27        69.39874        153.0269  22.338985
3        Male   24        68.21660        142.3354  21.504612
4      Female   18        67.78781        144.2971  22.077669
...       ...  ...             ...             ...        ...
24995    Male   35        69.50215        118.0312  17.179051
24996    Male   26        64.54826        120.1932  20.281947
24997  Female   23        64.69855        118.2655  19.864050
24998    Male   20        67.52918        132.2682  20.392540
24999  Female   34        68.87761        124.8742  18.506121

[25000 rows x 5 columns]